@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
            <div class="right">Last Name:</div> <div class="left"><input type="text" name="LastName" maxlength="30" /></div><br />
            <div class="right">Email:</div> <div class="left"><input type="text" name="Email" maxlength="30" /></div><br />
            <div class="right">Password:</div> <div class="left"><input type="text" name="Password" maxlength="30" /></div><br />
            <p>@n.FirstName</p><p>@n.LastName</p><p>@n.Email</p><p>@n.Password</p><p>@n.Points</p>
            
*@
@model List<RegisteredUser>
<div>
    <p class="FirstNameHead">FirstName</p><p class="LastNameHead">LastName</p><p class="EmailHead">Email</p><p class="PasswordHead">Password</p><p class="PointsHead">Points</p>
</div>
@{

    foreach (RegisteredUser n in Model)
    {
        <div>
            <p class="FirstName">@n.FirstName</p> <p class="LastName">@n.LastName</p><p class="Email">@n.Email</p><p class="Password">@n.Password</p><p class="Points">
            @n.Points</p><br>
        </div>
    }
}